.wrapper {display: grid;
	grid-template-columns: 40px 50px auto 50px 40px;
	grid-template-rows: 25% 100px auto;}
body {background-color: rgb(225, 225, 234);
	color: rgba(5, 4, 4, 0.62);}
.header {grid-column: 1/span 1;
	grid-row: 3/span 1;}
h1 {font-family: Helvetica;
	font-size: 24px;
	text-align: center;}
h2 {font-family: Helvetica;
	font-size: 20px;
	text-align: center;}
h3 {font-family: Helvetica;
	font-size: 20px;
	text-align: center;}
.menu {margin: 0;
	padding: 0;
	width: 200px;
	border: 1px solid grey;
	border-bottom: 1px solid grey;
	height: 100%;
	position: fixed;
	background-color: rgb(204, 206, 209);
	grid-column: 1/span 2;
	grid-row: 1/span 2;}
.menu ul {list-style-type: none;}
li:last-child {border-bottom: none;}
li a {display: block;
	text-decoration: none;
	padding: 8px 16px;
	color: black;
	text-align: center;}
li a:hover {background-color: rgb(114, 115, 117);}
.slideshow img {grid-column: 3/span 1;
	grid-row: 3/span 1;}
.innovation {grid-column: 3/span 1;
	grid-row: 4/span 1;
p {font-family: Helvetica;
 	font-size: 17px;}
.founders img {size: 500px;}
