body {background: rgb(0,0,80);}
p, ul, i, blockquote, a, table, bold {color: White;
	font-size: 18px;
	font-family: Arial;}
h1 {font-size: 35px;
	color: rgb(249,249,251);
	font-family: Permanent Marker;
	text-shadow: 3px 2px rgb(203,203,219);}
a {background-color: #f44336;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	border: 2px solid black;}
a:hover {color: rgb(94, 204, 229);}
img {width: 1000px;
	margin: auto;
	display: block;
	border: 3px solid black;
	padding: 14px 25px;}
i, p, h1, table, th, td {text-align: center;}
table, th, td {border: 2px solid white;}
table {border-collapse: collapse;}
div img {opacity: .1;}
div img:hover {opacity: .3;}
h2 {font-size: 20px;
	font-family: Permanent Marker;}
